In [23]:
data = ["CBD","Richmond", "Central", 34, 45] # inintial variables
count = 0

for item in data :                           # Loop for dataset
    if str(item).isdigit(): 
        print(item)
        count += 1        

if count != 0 :                              # Check for value
    print("There are " + str(count) + " numbers in the data")
else :
    print("There are no numbers in the data")

34
45
There are 2 numbers in the data

In [29]:
data = ["CBD","Richmond", "Central", 34, 45.1] # inintial variables
count = 0

for item in data :                           # Loop for dataset
    if(type(item) == int or type(item) == float):
        print(item)
        count += 1        

if count != 0 :                              # Check for value
    print("There are " + str(count) + " numbers in the data")
else :
    print("There are no numbers in the data")

34
45.1
There are 2 numbers in the data

In [39]:
data = ["CBD","Richmond", "Central", 34, 45.1, 11.1, 23, "Yennora"] # inintial variables
count_int = 0
count_float = 0

for item in data :                           # Loop for dataset
    if(type(item) == int):
        print(item)
        count_int += 1        
    elif(type(item) == float):
        print(item)
        count_float += 1

if count_int != 0 and count_float != 0 :  # Check for value
    print("There are " + str(count_int) + " integers in the data and " + str(count_float) + " floats in the data")
elif count_int != 0 and count_float == 0 : 
    print("There are " + str(count_int) + " integers in the data and no floats in the data")
elif count_int == 0 and count_float != 0 :
    print("There are no integers in the data and " + str(count_float) + " floats in the data")        
else :
    print("There are no numbers in the data")

34
45.1
11.1
23
There are 2 integers in the data and 2 floats in the data

In [41]:
range(0,len(data))

range(0, 8)

In [90]:
list = ["Sydney", "Perth", "Melbon"]
for city in list:
    print(city)

Sydney
Perth
Melbon

In [93]:
l=["hi",[1,2,3],100, {"tele" : "fake"}]
print("length of the list l is ", len(l))
for x in l:
    print(x, "is type", str(type(x)))

length of the list l is  4
hi is type <class 'str'>
[1, 2, 3] is type <class 'list'>
100 is type <class 'int'>
{'tele': 'fake'} is type <class 'dict'>

In [91]:
example_dictionary = {'first_name': "Terrance", 'last_name': "KOAR", 'favorite_language': "Python"}
print(example_dictionary.items())
type(example_dictionary.items())

for key, value in example_dictionary.items():
    print("this is the key:", key)    
    print("this is the value:", value, "\n")

dict_items([('first_name', 'Terrance'), ('last_name', 'KOAR'), ('favorite_language', 'Python')])
this is the key: first_name
this is the value: Terrance

this is the key: last_name
this is the value: KOAR

this is the key: favorite_language
this is the value: Python

In [92]:
first_name = ""
last_name = ""
for key, value in example_dictionary.items():
    if key == "last_name":
        last_name = value.title()
    if key == "first_name":
        first_name = value
print(first_name, last_name)

Terrance Koar

In [98]:
el = []
data = [1,2,3,4,5]

for items in data:
    el.append(data[items-1])
el

[1, 2, 3, 4, 5]