# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [2]:
df = pd.read_csv('Data/Zipcode_Demos.csv')

In [3]:
# Import the file and print the first 5 rows
df.head(5)

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Print the last 5 rows of df
df.tail(5)

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
52,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
53,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
54,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
55,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0,3,1,0,0,3,100

In [5]:
# What is going on with this data set? Anything unusual?

In [6]:
# Clean up the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 47 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   0                   57 non-null     int64
 1   Average Statistics  56 non-null     object
 2   Unnamed: 2          57 non-null     object
 3   Unnamed: 3          11 non-null     object
 4   Unnamed: 4          11 non-null     object
 5   Unnamed: 5          11 non-null     object
 6   Unnamed: 6          11 non-null     object
 7   Unnamed: 7          11 non-null     object
 8   Unnamed: 8          11 non-null     object
 9   Unnamed: 9          11 non-null     object
 10  Unnamed: 10         11 non-null     object
 11  Unnamed: 11         11 non-null     object
 12  Unnamed: 12         11 non-null     object
 13  Unnamed: 13         11 non-null     object
 14  Unnamed: 14         11 non-null     object
 15  Unnamed: 15         11 non-null     object
 16  Unnamed: 16         11 non-null     object
 17  Unnamed: 17         11 non-null     object
 18  Unnamed: 18         11 non-null     object
 19  Unnamed: 19         11 non-null     object
 20  Unnamed: 20         11 non-null     object
 21  Unnamed: 21         11 non-null     object
 22  Unnamed: 22         11 non-null     object
 23  Unnamed: 23         11 non-null     object
 24  Unnamed: 24         11 non-null     object
 25  Unnamed: 25         11 non-null     object
 26  Unnamed: 26         11 non-null     object
 27  Unnamed: 27         11 non-null     object
 28  Unnamed: 28         11 non-null     object
 29  Unnamed: 29         11 non-null     object
 30  Unnamed: 30         11 non-null     object
 31  Unnamed: 31         11 non-null     object
 32  Unnamed: 32         11 non-null     object
 33  Unnamed: 33         11 non-null     object
 34  Unnamed: 34         11 non-null     object
 35  Unnamed: 35         11 non-null     object
 36  Unnamed: 36         11 non-null     object
 37  Unnamed: 37         11 non-null     object
 38  Unnamed: 38         11 non-null     object
 39  Unnamed: 39         11 non-null     object
 40  Unnamed: 40         11 non-null     object
 41  Unnamed: 41         11 non-null     object
 42  Unnamed: 42         11 non-null     object
 43  Unnamed: 43         11 non-null     object
 44  Unnamed: 44         11 non-null     object
 45  Unnamed: 45         11 non-null     object
 46  Unnamed: 46         11 non-null     object
dtypes: int64(1), object(46)
memory usage: 21.1+ KB

In [7]:
df.shape

(57, 47)

In [8]:
df = pd.read_csv('Data/Zipcode_Demos.csv', header=47)

In [9]:
df = df.drop(df.columns[[0, 1, 2]], axis=1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 44 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   COUNT FEMALE                         10 non-null     int64
 1   PERCENT FEMALE                       10 non-null     float64
 2   COUNT MALE                           10 non-null     int64
 3   PERCENT MALE                         10 non-null     float64
 4   COUNT GENDER UNKNOWN                 10 non-null     int64
 5   PERCENT GENDER UNKNOWN               10 non-null     int64
 6   COUNT GENDER TOTAL                   10 non-null     int64
 7   PERCENT GENDER TOTAL                 10 non-null     int64
 8   COUNT PACIFIC ISLANDER               10 non-null     int64
 9   PERCENT PACIFIC ISLANDER             10 non-null     int64
 10  COUNT HISPANIC LATINO                10 non-null     int64
 11  PERCENT HISPANIC LATINO              10 non-null     float64
 12  COUNT AMERICAN INDIAN                10 non-null     int64
 13  PERCENT AMERICAN INDIAN              10 non-null     int64
 14  COUNT ASIAN NON HISPANIC             10 non-null     int64
 15  PERCENT ASIAN NON HISPANIC           10 non-null     float64
 16  COUNT WHITE NON HISPANIC             10 non-null     int64
 17  PERCENT WHITE NON HISPANIC           10 non-null     float64
 18  COUNT BLACK NON HISPANIC             10 non-null     int64
 19  PERCENT BLACK NON HISPANIC           10 non-null     float64
 20  COUNT OTHER ETHNICITY                10 non-null     int64
 21  PERCENT OTHER ETHNICITY              10 non-null     float64
 22  COUNT ETHNICITY UNKNOWN              10 non-null     int64
 23  PERCENT ETHNICITY UNKNOWN            10 non-null     int64
 24  COUNT ETHNICITY TOTAL                10 non-null     int64
 25  PERCENT ETHNICITY TOTAL              10 non-null     int64
 26  COUNT PERMANENT RESIDENT ALIEN       10 non-null     int64
 27  PERCENT PERMANENT RESIDENT ALIEN     10 non-null     float64
 28  COUNT US CITIZEN                     10 non-null     int64
 29  PERCENT US CITIZEN                   10 non-null     float64
 30  COUNT OTHER CITIZEN STATUS           10 non-null     int64
 31  PERCENT OTHER CITIZEN STATUS         10 non-null     int64
 32  COUNT CITIZEN STATUS UNKNOWN         10 non-null     int64
 33  PERCENT CITIZEN STATUS UNKNOWN       10 non-null     int64
 34  COUNT CITIZEN STATUS TOTAL           10 non-null     int64
 35  PERCENT CITIZEN STATUS TOTAL         10 non-null     int64
 36  COUNT RECEIVES PUBLIC ASSISTANCE     10 non-null     int64
 37  PERCENT RECEIVES PUBLIC ASSISTANCE   10 non-null     float64
 38  COUNT NRECEIVES PUBLIC ASSISTANCE    10 non-null     int64
 39  PERCENT NRECEIVES PUBLIC ASSISTANCE  10 non-null     float64
 40  COUNT PUBLIC ASSISTANCE UNKNOWN      10 non-null     int64
 41  PERCENT PUBLIC ASSISTANCE UNKNOWN    10 non-null     int64
 42  COUNT PUBLIC ASSISTANCE TOTAL        10 non-null     int64
 43  PERCENT PUBLIC ASSISTANCE TOTAL      10 non-null     int64
dtypes: float64(11), int64(33)
memory usage: 3.6 KB

In [11]:
df

,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,COUNT PACIFIC ISLANDER,PERCENT PACIFIC ISLANDER,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,22,0.50,22,0.50,0,0,44,100,0,0,...,44,100,20,0.45,24,0.55,0,0,44,100
1,19,0.54,16,0.46,0,0,35,100,0,0,...,35,100,2,0.06,33,0.94,0,0,35,100
2,1,1.00,0,0.00,0,0,1,100,0,0,...,1,100,0,0.00,1,1.00,0,0,1,100
3,0,0.00,0,0.00,0,0,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,2,1.00,0,0.00,0,0,2,100,0,0,...,2,100,0,0.00,2,1.00,0,0,2,100
5,2,0.33,4,0.67,0,0,6,100,0,0,...,6,100,0,0.00,6,1.00,0,0,6,100
6,0,0.00,1,1.00,0,0,1,100,0,0,...,1,100,1,1.00,0,0.00,0,0,1,100
7,0,0.00,2,1.00,0,0,2,100,0,0,...,2,100,0,0.00,2,1.00,0,0,2,100
8,0,0.00,0,0.00,0,0,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
9,2,0.67,1,0.33,0,0,3,100,0,0,...,3,100,0,0.00,3,1.00,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_Corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [12]:
# Hint: Here's a useful programming pattern to use
try:
    # Do something
except Exception as e:
    # Handle your exception e

IndentationError: expected an indented block after 'try' statement on line 2 (2533573781.py, line 4)

In [13]:

df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', on_bad_lines = 'skip')
df

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg
...,...,...,...,...,...,...,...,...,...,...
4030,This was disappointing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4031,First off,it was really awkward sitting on the benches ...,as people walked past us while to wait for ou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4032,Second,when we were seated,it was so loud. It felt like we were in a hig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4033,Finally - Food was mediocre. I was extremely d...,but it wasn't flavourful.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4034,Wasn't worth the hype,unfortunately.,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.head(50)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg
5,11,UBv8heCQR0RPnUQG0zkXIQ,0,2016-09-23,0,HkYqGb0Gplmmk-xlHTRBoA,1,The score should be negative. Its HORRIBLE. Th...,0,NhOc64RsrTT1Dls50yYW8g
6,12,hdgYnadxg0GANhWOJabr2g,0,2014-08-23,0,RgqWdZA4xR023iP3T6jVfA,5,I went there twice and I am pretty happy with ...,0,NhOc64RsrTT1Dls50yYW8g
7,19,gZGsReG0VeX4uKViHTB9EQ,0,2017-08-16,0,51RHs_V_fjuistnuKxNpEg,5,Finally! After trying many Mexican restaurants...,0,5ngpW5tf3ep680eG1HxHzA
8,25,f-v1fvtnbdw_QQRsCnwH-g,0,2017-11-18,0,alI_kRKyEHfdHibYGgtJbw,1,I have to write a review on the Fractured Prun...,0,Fc_nb6N6Sdurqb-rwsY1Bw
9,26,yz66FIUPDKGhILDWzRLeKg,0,2017-11-18,0,85DRIjwPJOTb4q0qOlBstw,1,I wish i could tell you all about the food but...,1,Fc_nb6N6Sdurqb-rwsY1Bw
10,27,6qDRqHWqf0EeHupSUEBfKg,0,2015-12-10,0,GbiLIKmQPVCBtdNkTVdVSA,5,Wonderful! One of my favorite places. BBQ is e...,0,G22ITfVETYHtIhnn5lLRrQ
11,28,7AlULGZI1pHt0imODsqdkg,0,2012-02-12,0,UaHgsL0xS4UnJ_iKqeOk_w,5,The price is about the same as Quizinos. The s...,0,FjH3TH8OvHGLNEbzdEYlNg
12,29,th4pZ5LkoIIkb1Vmu_m2DA,0,2012-02-12,0,c4zzAD1S6721Fh-acCBy-g,4,The food was ok. You get a lot of food for the...,0,FjH3TH8OvHGLNEbzdEYlNg
13,30,nsSfCKW9KDB4COj9bzXApw,0,2012-02-12,0,TTBwocu2mvqJFJrwmJN0Sw,5,The staff were friendly and helpful. The food ...,1,FjH3TH8OvHGLNEbzdEYlNg
14,31,cP8ErpZfRzdVR5Fvks-pnQ,0,2012-02-12,0,-CresnnXQSHrQ85Ogm-Pqw,5,The staff were very helpful. We painted potter...,0,FjH3TH8OvHGLNEbzdEYlNg
15,32,Edr6SafmQrZa6CcFuItoqg,0,2014-06-03,0,U04YgYr4PiGUxB46J4xapg,2,Limited vegetarian options. Ordered Greek sala...,0,B7Fh30KQT1xPSGt_pIhRRA
16,35,SpJYus_184M2TdT7t52rIA,0,2016-11-18,0,s9cpVj40VR_yl0lXbZQe6w,5,I trust my vehicles here. Comparable prices. M...,0,zx_Op2OAOM_fRic9tU-jqA
17,40,qdC2h3MqCNussc5lhzL7gg,0,2015-11-05,0,AJ0IglpYAp2D0daOlVGIdg,1,This place doesn't even deserve 1 star. Horrib...,18,Ka7TIp74VHSa90rfdg4_2g
18,41,XgRDG9E_WLEbl8S-QUqQkQ,0,2015-11-05,0,5D_MsAJHrMa8QKkpE3g1Sg,5,The butter burger was cooked perfectly and jui...,0,Ka7TIp74VHSa90rfdg4_2g
19,42,awgoBwuhzlLGKEIverTGjQ,0,2017-01-21,0,5bWN_IN8MQGjJ6_ZIXffDw,5,Best location ever! I love love love the manag...,0,yyPHK6khPa4-ErV9U32x3A
20,74,iO3GuIiZxzv-iETGVnoeVA,0,2016-11-06,0,RW_mYzHYfdqn6g7xVgIcKg,4,This was a real fun time. Lots of laughs and e...,NaN,NaN
21,Food was pretty decent as well. Like the salad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4 stars since I'm bummed there were no mojitos.,0,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,79,yz3KtngrF2PQrif8JW7gdw,0,2016-05-28,0,SLA1YP9doUc8h-6Kd34QmA,1,Horrible. The smart ones have closed their acc...,NaN,NaN
24,Manager doesn't take accountability for the la...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Be smart take you money out and run.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,83,T2XdzAcj0M_kBD9_BHfZlw,0,2016-05-08,0,qxPiEGIHy5xyVy78avH5Rg,4,Love the 'old school' ambiance. Friendly staff...,NaN,NaN
27,Come for the popcorn and drinks.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,92,AtbXj3Rg1GF6Dj5zu6KCDg,0,2012-10-11,0,q6ij-nz5d_hvdjuelho1pQ,5,Better service and much better prices than the...,0,WnM2AmNIint5b5f688nmPg
29,95,6tSvz_21BMo3a4GaItwa0g,0,2017-04-08,0,66FSK2J1uHJqVI1Z8QiFGw,4,I love how they have no rice sushi options. Th...,0,Yy_iGXxLpL6tYDQoE-6XVg
30,102,aQ222ydz_GSRZV66xNt4kQ,0,2017-04-09,1,AxhxGl41DItKjqkzYtr53Q,1,2 of my girlfriends recommended this place so ...,NaN,NaN
31,**someone replied to this comment saying to co...,1,Yy_iGXxLpL6tYDQoE-6XVg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,172,1SnYDvrd02FXSXnIgz-9DQ,0,2010-11-17,4,8enQ9Fj-sWkWub4AZQUzeQ,1,Huge Apple Danishes! Unfortunatley huge doesnt...,NaN,NaN
33,So what does Westmall Donuts have to offer? He...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Do yourself and your wallet a favour and avoid...,0,YHWsLBS8jzZiPjKHMFOaAA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,179,YPa8t1631tlRQms0p331ZQ,0,2016-04-10,0,vCwlUF30mV7Eg5MCS3N39Q,4,What a nice and friendly person that answered ...,1,wMttR-7frrO-YzDsIiA4GQ
36,180,eZCE1u_3ORlX8dHSVTjl9w,0,2016-03-10,1,GuD3Og1PmJCqXAiWQe1xew,4,I have been here 3 1/2 years. The staff is a...,4,wMttR-7frrO-YzDsIiA4GQ
37,182,ruWTngdiC68O9la27hvvHw,0,2016-02-24,0,Tifm4ETlt4FXiuGwhq__lg,4,This place is not just a restaurant has a grea...,1,dQzQ4bN0Rnb8M-0LqTl3-g
38,183,7KkgMcbVaetryW1wwpzvvA,0,2016-02-29,0,htV6dNmUqaXwCIRt7vfO5A,4,It great fast food and get large portions. It ...,0,dQzQ4bN0Rnb8M-0LqTl3-g
39,184,bvGdqJ-SeGdIHX-HEabwlg,0,2016-05-29,0,AR_IDHl2P4kUVPB_tTsA6w,4,I went there a couple week ago. The service wa...,0,dQzQ4bN0Rnb8M-0LqTl3-g
40,185,h1Jq1YlqPyD1mGSW0sjRaQ,0,2016-03-07,0,JL6B_spdwG_gLMEdh4Z-Mg,1,I call them to switch to their service for bot...,0,dQzQ4bN0Rnb8M-0LqTl3-g
41,186,9tLCuUmw3Tlco-tKPGkIWQ,1,2016-03-25,0,vPA9ZwuatQhnfu6WrG0mpw,5,Great fast food restaurant large portions. The...,1,dQzQ4bN0Rnb8M-0LqTl3-g
42,188,ICw43H7hrbSuXTjDBmJxbA,1,2016-02-29,0,RUoRwBWiYAZ7FhRMg_ibZA,5,I was just at their new store on Cheyenne on S...,1,dQzQ4bN0Rnb8M-0LqTl3-g
43,189,_pBXtjN43eqMV0XZTz7nmw,0,2016-03-25,0,ohzlH9CWRuP8TehyfTUp6g,4,Its a nice club open air with swimming pools t...,0,dQzQ4bN0Rnb8M-0LqTl3-g
44,190,3kdSl5mo9dWC4clrQjEDGg,0,2015-10-17,1,Bay72mIfR-yGKZf_S9xQeg,4,????????????????????????????????????,NaN,NaN
45,?????7:30???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,?????????????,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,?????????????????,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,??????????????????!!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2????????????????????,0,5oy_MM1skY1LvmdNNVVM5Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.tail(50)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
3985,Some of the desserts are really over priced fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3986,Today I ordered an Early Grey. The earl grey t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3987,Will not be going back to this place ever .......,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3988,Tip* go to the Starbucks upstairs in the indig...,late,cappuccino or tea the way it should be done.,4,kBNFdviedCPFWyR-wVaAzw,NaN,NaN,NaN,NaN,NaN
3989,2128,fB4cb6uvz-QngtYP0fbfAw,0,2012-07-17,0,20LissUeP84XzaBBYTmbZA,1,I didn't eat here because I was sitting at the...,NaN,NaN
3990,The Korean BBQ restaurant is next door and kit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3991,Service was very poor,2,ggUIxd2V8ryLPYUYJUBEaA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3992,2934,21sGRVR7HEs_t6PdB9tGMw,0,2013-07-12,2,6U0BqygunHHoZzoS4D5mhA,5,I finally found a pizza that ill never get tir...,2,mNZUtwyCu4q0fsWvwPqceA
3993,1465,YJ05ntGlszxACOD5zn1YjA,0,2015-10-17,0,6IsC3q3ZULUWcbme0SdZYQ,4,Had a cheese burger and fries was really expen...,0,f9NVh1UWkW6DTnckfOuwEA
3994,3506,CE05_kJvl0xRloi8fW6R3w,0,2015-06-25,0,_Rzm6xCJb01K7OrALNjSvg,5,They do a great job of letting you know what's...,0,dN9nRZmDCk0wk1Uya5kCRQ
3995,3126,-eIvRc3aEvufstBumpBTPQ,0,2015-07-02,0,rn49y5dm_3sRZ5_LrODFLA,5,After going to several physio clinics over the...,0,uK0LdXjF93PuPzVgo-Jsgg
3996,541,oqLPpDP4TIaHSRyxR4Rqdw,0,2007-10-02,0,wRooMtZCPaTnaPIoLa2TCg,4,One of my favorite places for breakfast in the...,Mancini toast,reasonable prices (like $4 to $7 per person)
3997,If you are really hungry,try the 3-egg scramble (3 scrambled eggs mixe...,peppers,sliced italian sausage,and melted cheddar cheese) - with Mancini toa...,you probably won't need to eat again until di...,NaN,NaN,NaN,NaN
3998,The 2 & 3 egg combos are also good. Sandwiches...,but breakfast is definitely a better call.,3,AlzerMK7z84E4KU6GjPzIQ,NaN,NaN,NaN,NaN,NaN,NaN
3999,1668,BPyopyEntbl4obte91gNrQ,0,2016-07-17,0,iWL20DdQRBHNWap7aPyH8g,5,I came to see the new Trader Joe's and had an ...,0,MmOlteGoOLp4uydXpW7EHg
4000,2775,7sPNbCx7vGAaH7SbNPZ6oA,0,2013-08-28,0,WwsLyhbRkAVoOj7eQWNQXg,5,HANDS DOWN the best burger joint!,NaN,NaN
4001,Pros:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4002,+great service,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4003,+amazing food,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,+oxtail fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,+kiki burger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,Cons:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,-there isn't one in San Diego!,1,M8KZG9AxSaaJCyRZrHVXzg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4008,Everything else on the menu was enjoyable,with very good portion sizes - small enough t...,the rolls come in 4's,so you can try more than one roll. Another pl...,which I've never seen at AYCE sushi before,along with other jellos (black current and li...,mango pudding and a chef's special.,NaN,NaN,NaN
4009,While pricey,$24.99 on the weekends,I would say that its worth it.,0,hJulW1s6tOBr2NXD9nAoMQ,NaN,NaN,NaN,NaN,NaN
4010,506,RJxkhoGxTsz545_sTlDdFA,0,2014-07-01,0,cEQ9swcZ_L0GMCKI0UtItQ,2,Pad thai (beef),NaN,NaN
4011,- The beef used was tough and chewy. The pad t...,0,UGW-9bbBEB3eP1o6mWD_WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4012,While Bamburger offers a decent take-out menu,we chose to enjoy their small,but friendly sidewalk patio,right in the middle of restaurant row at Yong...,natural wood and lots of greenery complimenti...,talkative and more than willing to explain th...,as there are many,and recommend some personal favourites.,NaN,NaN
4013,Starting off with drinks,Bamburger serves beer,wine,and old-fashioned Stewart's soda,but what is a burger joint without milkshakes...,including the usual vanilla and chocolate sus...,as well a special flavour each day for the ni...,NaN,NaN,NaN
4014,Bamburger serves up great burgers,fries and shakes at a fairly good price,although if you go a little overboard with th...,you might quickly end up with a $20 burger,without realizing it. The service was friendl...,and the atmosphere was very comfortable and n...,NaN,NaN,NaN,NaN
4015,If you are hunting for a real deal on a burger,Bamburger might not be what you are looking for,but if you are more on the adventurous side,and want to have fun creating your own burger...,Bamburger will deliver.,8,YHWsLBS8jzZiPjKHMFOaAA,NaN,NaN,NaN
4016,4674,4KfDcE9iU2isFpoaKeDpgw,0,2012-06-14,0,rFH9iSvRmdm5LtDdsYwwpA,5,Great place to take your kids and interesting ...,0,9gYbRvijurhrnC6yPRlaUw
4017,3440,nW45ez1L6U4PsYhV1BTrGQ,0,2012-05-19,0,abStF7f3_IyfZmOP82baZQ,5,H&F Jewellery is amazing!,NaN,NaN
4018,I had given my husband some ideas of engagemen...,a friend of ours recommended H&F.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4019,The customer service here is great - they are ...,attentive,honest and the prices are very reasonable! My...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4020,We went back for our wedding bands and I worke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4021,We've recommended 5 other friends to H&F - the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4022,Go to H&F for all your jewellery needs - you w...,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4023,4812,e13SEvJud_vgeDR_doL4sQ,0,2013-03-01,0,lUV1KEm4cl4mluSEFharFQ,4,We loved the food. The service was good and we...,0,NW6gHZ8PlYl1STK1A1Ixeg
4024,564,5XYR6doRa5Nj1JMfSDei6A,1,2016-06-14,0,xlGJkxoIBl8XH8wVsPZpnw,5,Always great friendly service and fresh baked ...,NaN,NaN
4025,Highly recommend the custard cakes they are th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4026,The rice flour cake is also really good and a ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4027,The bean cakes are great here too! orange,almond,and a few others I have tried are all good.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4028,Can't go wrong with Nova Era,0,kBNFdviedCPFWyR-wVaAzw,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4029,3458,aLcFhMe6DDJ430zelCpd2A,0,2013-10-02,0,kwiEG_KCpDB6aK5fTSM7iw,2,We were expecting amazing Thai food after all ...,NaN,NaN
4030,This was disappointing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4031,First off,it was really awkward sitting on the benches ...,as people walked past us while to wait for ou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4032,Second,when we were seated,it was so loud. It felt like we were in a hig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4033,Finally - Food was mediocre. I was extremely d...,but it wasn't flavourful.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4034,Wasn't worth the hype,unfortunately.,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4035 entries, 0 to 4034
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   4035 non-null   object
 1   business_id  3293 non-null   object
 2   cool         3097 non-null   object
 3   date         2495 non-null   object
 4   funny        2284 non-null   object
 5   review_id    2194 non-null   object
 6   stars        2127 non-null   object
 7   text         2072 non-null   object
 8   useful       1640 non-null   object
 9   user_id      1525 non-null   object
dtypes: object(10)
memory usage: 315.4+ KB

In [17]:
df2 = df[df.text.notnull()]
df2.head(50)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg
5,11,UBv8heCQR0RPnUQG0zkXIQ,0,2016-09-23,0,HkYqGb0Gplmmk-xlHTRBoA,1,The score should be negative. Its HORRIBLE. Th...,0,NhOc64RsrTT1Dls50yYW8g
6,12,hdgYnadxg0GANhWOJabr2g,0,2014-08-23,0,RgqWdZA4xR023iP3T6jVfA,5,I went there twice and I am pretty happy with ...,0,NhOc64RsrTT1Dls50yYW8g
7,19,gZGsReG0VeX4uKViHTB9EQ,0,2017-08-16,0,51RHs_V_fjuistnuKxNpEg,5,Finally! After trying many Mexican restaurants...,0,5ngpW5tf3ep680eG1HxHzA
8,25,f-v1fvtnbdw_QQRsCnwH-g,0,2017-11-18,0,alI_kRKyEHfdHibYGgtJbw,1,I have to write a review on the Fractured Prun...,0,Fc_nb6N6Sdurqb-rwsY1Bw
9,26,yz66FIUPDKGhILDWzRLeKg,0,2017-11-18,0,85DRIjwPJOTb4q0qOlBstw,1,I wish i could tell you all about the food but...,1,Fc_nb6N6Sdurqb-rwsY1Bw
10,27,6qDRqHWqf0EeHupSUEBfKg,0,2015-12-10,0,GbiLIKmQPVCBtdNkTVdVSA,5,Wonderful! One of my favorite places. BBQ is e...,0,G22ITfVETYHtIhnn5lLRrQ
11,28,7AlULGZI1pHt0imODsqdkg,0,2012-02-12,0,UaHgsL0xS4UnJ_iKqeOk_w,5,The price is about the same as Quizinos. The s...,0,FjH3TH8OvHGLNEbzdEYlNg
12,29,th4pZ5LkoIIkb1Vmu_m2DA,0,2012-02-12,0,c4zzAD1S6721Fh-acCBy-g,4,The food was ok. You get a lot of food for the...,0,FjH3TH8OvHGLNEbzdEYlNg
13,30,nsSfCKW9KDB4COj9bzXApw,0,2012-02-12,0,TTBwocu2mvqJFJrwmJN0Sw,5,The staff were friendly and helpful. The food ...,1,FjH3TH8OvHGLNEbzdEYlNg
14,31,cP8ErpZfRzdVR5Fvks-pnQ,0,2012-02-12,0,-CresnnXQSHrQ85Ogm-Pqw,5,The staff were very helpful. We painted potter...,0,FjH3TH8OvHGLNEbzdEYlNg
15,32,Edr6SafmQrZa6CcFuItoqg,0,2014-06-03,0,U04YgYr4PiGUxB46J4xapg,2,Limited vegetarian options. Ordered Greek sala...,0,B7Fh30KQT1xPSGt_pIhRRA
16,35,SpJYus_184M2TdT7t52rIA,0,2016-11-18,0,s9cpVj40VR_yl0lXbZQe6w,5,I trust my vehicles here. Comparable prices. M...,0,zx_Op2OAOM_fRic9tU-jqA
17,40,qdC2h3MqCNussc5lhzL7gg,0,2015-11-05,0,AJ0IglpYAp2D0daOlVGIdg,1,This place doesn't even deserve 1 star. Horrib...,18,Ka7TIp74VHSa90rfdg4_2g
18,41,XgRDG9E_WLEbl8S-QUqQkQ,0,2015-11-05,0,5D_MsAJHrMa8QKkpE3g1Sg,5,The butter burger was cooked perfectly and jui...,0,Ka7TIp74VHSa90rfdg4_2g
19,42,awgoBwuhzlLGKEIverTGjQ,0,2017-01-21,0,5bWN_IN8MQGjJ6_ZIXffDw,5,Best location ever! I love love love the manag...,0,yyPHK6khPa4-ErV9U32x3A
20,74,iO3GuIiZxzv-iETGVnoeVA,0,2016-11-06,0,RW_mYzHYfdqn6g7xVgIcKg,4,This was a real fun time. Lots of laughs and e...,NaN,NaN
23,79,yz3KtngrF2PQrif8JW7gdw,0,2016-05-28,0,SLA1YP9doUc8h-6Kd34QmA,1,Horrible. The smart ones have closed their acc...,NaN,NaN
26,83,T2XdzAcj0M_kBD9_BHfZlw,0,2016-05-08,0,qxPiEGIHy5xyVy78avH5Rg,4,Love the 'old school' ambiance. Friendly staff...,NaN,NaN
28,92,AtbXj3Rg1GF6Dj5zu6KCDg,0,2012-10-11,0,q6ij-nz5d_hvdjuelho1pQ,5,Better service and much better prices than the...,0,WnM2AmNIint5b5f688nmPg
29,95,6tSvz_21BMo3a4GaItwa0g,0,2017-04-08,0,66FSK2J1uHJqVI1Z8QiFGw,4,I love how they have no rice sushi options. Th...,0,Yy_iGXxLpL6tYDQoE-6XVg
30,102,aQ222ydz_GSRZV66xNt4kQ,0,2017-04-09,1,AxhxGl41DItKjqkzYtr53Q,1,2 of my girlfriends recommended this place so ...,NaN,NaN
32,172,1SnYDvrd02FXSXnIgz-9DQ,0,2010-11-17,4,8enQ9Fj-sWkWub4AZQUzeQ,1,Huge Apple Danishes! Unfortunatley huge doesnt...,NaN,NaN
35,179,YPa8t1631tlRQms0p331ZQ,0,2016-04-10,0,vCwlUF30mV7Eg5MCS3N39Q,4,What a nice and friendly person that answered ...,1,wMttR-7frrO-YzDsIiA4GQ
36,180,eZCE1u_3ORlX8dHSVTjl9w,0,2016-03-10,1,GuD3Og1PmJCqXAiWQe1xew,4,I have been here 3 1/2 years. The staff is a...,4,wMttR-7frrO-YzDsIiA4GQ
37,182,ruWTngdiC68O9la27hvvHw,0,2016-02-24,0,Tifm4ETlt4FXiuGwhq__lg,4,This place is not just a restaurant has a grea...,1,dQzQ4bN0Rnb8M-0LqTl3-g
38,183,7KkgMcbVaetryW1wwpzvvA,0,2016-02-29,0,htV6dNmUqaXwCIRt7vfO5A,4,It great fast food and get large portions. It ...,0,dQzQ4bN0Rnb8M-0LqTl3-g
39,184,bvGdqJ-SeGdIHX-HEabwlg,0,2016-05-29,0,AR_IDHl2P4kUVPB_tTsA6w,4,I went there a couple week ago. The service wa...,0,dQzQ4bN0Rnb8M-0LqTl3-g
40,185,h1Jq1YlqPyD1mGSW0sjRaQ,0,2016-03-07,0,JL6B_spdwG_gLMEdh4Z-Mg,1,I call them to switch to their service for bot...,0,dQzQ4bN0Rnb8M-0LqTl3-g
41,186,9tLCuUmw3Tlco-tKPGkIWQ,1,2016-03-25,0,vPA9ZwuatQhnfu6WrG0mpw,5,Great fast food restaurant large portions. The...,1,dQzQ4bN0Rnb8M-0LqTl3-g
42,188,ICw43H7hrbSuXTjDBmJxbA,1,2016-02-29,0,RUoRwBWiYAZ7FhRMg_ibZA,5,I was just at their new store on Cheyenne on S...,1,dQzQ4bN0Rnb8M-0LqTl3-g
43,189,_pBXtjN43eqMV0XZTz7nmw,0,2016-03-25,0,ohzlH9CWRuP8TehyfTUp6g,4,Its a nice club open air with swimming pools t...,0,dQzQ4bN0Rnb8M-0LqTl3-g
44,190,3kdSl5mo9dWC4clrQjEDGg,0,2015-10-17,1,Bay72mIfR-yGKZf_S9xQeg,4,????????????????????????????????????,NaN,NaN
50,191,f4x1YBxkLrZg652xt2KR5g,0,2015-10-17,0,YeRRSIod4aDvNDQKvbSWnA,3,????????????????????,NaN,NaN
55,192,DkYS3arLOhA8si5uUEmHOw,0,2015-10-17,0,zgQej4gg1vu8p85aP6ZsIg,5,????????????????????,NaN,NaN
60,193,fL-b760btOaGa85OJ9ut3w,0,2015-10-17,0,0VOZHe_tfbhW3YvsBf5yxw,5,???????????????????????????????????,NaN,NaN
68,196,l4x5FFzfiCFrGN0S-uZbBQ,0,2016-01-07,0,4zThfSMxa6fxOf3L4LXctg,5,Great authentic addition to champaign. Dario a...,0,N7Jy_9BnDckwKTBw44b0rA
69,260,VoYF6KnSnnhZ2lI4D9O-KA,0,2016-01-02,0,g03YSyEswJF3XOVbJqe3QQ,5,The best beef kebab EVER!! The meat is so tend...,0,XLA3LkbfQfeA-VYO7Zgzyg
70,269,qSsUXOWF9W4sekeHVekuug,0,2013-10-04,0,p2WnLi7Tj-2x9rqSOwHERg,1,Anyone looking to have their yard landscaped b...,5,aD4iVmjokKSK8HDm-L-dlQ
71,273,CHFw_V836nIKpWtqMP4E5g,0,2013-12-23,0,UC2474KYTL2DP1wR6qwvFQ,3,Food was very good but service is below par. W...,0,JNRDWUE5exH2mGjSqbUF7Q
72,275,XvuUYiJYAAiNC4AmdbBZ8g,0,2013-08-19,0,ziAMZGx8QInZjqlDG4qRCA,5,Me and my boyfriend live on the same block and...,0,_0lqX3m25K6qEkbLlY4DLQ
73,280,dNMYNKhAAKo5O4WfrAPzcQ,0,2016-02-03,0,QWWLdWa3srs0ibN8dnK6Aw,5,Very nice and modern dentist office with a top...,0,aGgv8QmMT-kpp_gy6mcjiA
74,282,t5LFQy9h9IpWfFfcMwQT4w,0,2011-09-04,1,OOj9B9A_56rI7TEMYwYvhA,5,Other Auto shops need to go to these guys and ...,NaN,NaN
76,283,F1VasoCjLgA079A21nQIvA,2,2013-08-25,0,aefWon7MeIoGpsLG5iwZ5g,5,I have 3 competitive bird dogs as well as bree...,13,FHwl6kaKdD5-KAnfVb_pKQ
77,284,LhU-XsZ2YObJnP-5uiMIjA,1,2014-03-31,0,dnrcOZK4UXIXPy3Uf66xZA,5,Same as other habanero's. Best damn quesadill...,0,FHwl6kaKdD5-KAnfVb_pKQ
78,286,4XGjbI2Ggi-kdgt9eZR83w,0,2011-03-04,0,CXSBfX-4fCWGngtysdhPpQ,3,Safe bet for a cheap buffet . Nothing blew me...,0,FHwl6kaKdD5-KAnfVb_pKQ

In [18]:
# Hint: Here's a useful programming pattern to use
import csv

df = open('Data/Yelp_Reviews_Corrupt.csv')
row_count= len(df.readlines())
row_count

df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', on_bad_lines = 'skip')
row_count - len(df)
#try:


#except Exception as e:
#    print(7)

2074

In [27]:
text = []
a = open('Data/Yelp_Reviews_Corrupt.csv')
for line in df.readlines():
    text.append(line)

In [25]:
text = open('Data/Yelp_Reviews_Corrupt.csv')
for line in df.readlines():
    print(line)
df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', on_bad_lines)

NameError: name 'on_bad_lines' is not defined

## Summary

Congratulations, you now practiced your Pandas-importing skills!